td, th {
  vertical-align: middle !important;
  text-align: middle !important;
}

.input-group {
  margin: 3% 20%;
}

svg {
  height: 100px;
}

td:last-of-type, td:last-of-type > div {
  width: 200px;
  height: 150px;
}
